.img-responsive{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.img-round{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    object-fit: cover;

}

.img-squre{
    height: 10rem;
    width: 10rem; 
    object-fit: cover;

}