@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.fs-x-lg {
  font-size: 3rem;
  line-height: 4rem;
}

.fs-lg {
  font-size: 2rem;
  line-height: 2.5rem;
}

.fs-md {
  font-size: 1.5rem;
  line-height: 2rem;
}

.fs-sm {
  font-size: 1rem;
  line-height: 1.5rem;
}

.fs-xs {
  font-size: 0.5rem;
  line-height: 1rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-gray {
  color: var(--text-gray);
}
