<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="card.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="card-body-md">
      <div class="card-img">
        <img
          src="https://images.unsplash.com/photo-1639475377520-b256a5d204b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
          alt="blobkchain img"
          class="card-md-img"
        />
      </div>
      <div>
        <div class="card-img-heading">
          <h2 class="card-heading">Our Changing Planet</h2>
          <p class="card-sub-heading-secondary">by Blockchain</p>
        </div>

        <div class="card-content">
          <p class="card-text">
            Use five cryptocurrency on our planet that are undergoing the
            biggest changes today.
          </p>
        </div>

        <div class="card-footer">
          <span class="card-btn">
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">READ</a>
            </button>
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">BOOKMARK</a>
            </button>
          </span>

          <span class="card-btn-icon">
            <button class="btn-primary btn-sm border-round">
              <i class="far fa-heart"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-share-alt"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------------------------------- -->

    <div class="card-body-md card-overlay-container">
      <div class="card-img">
        <img
          src="https://images.unsplash.com/photo-1639475377520-b256a5d204b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
          alt="blobkchain img"
          class="card-md-img"
        />
      </div>
      <div>
        <div class="card-img-heading">
          <h2 class="card-heading">Our Changing Planet</h2>
          <p class="card-sub-heading-secondary">by Blockchain</p>
        </div>

        <div class="card-content">
          <p class="card-text">
            Use five cryptocurrency on our planet that are undergoing the
            biggest changes today.
          </p>
        </div>

        <div class="card-footer">
          <span class="card-btn">
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">READ</a>
            </button>
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">BOOKMARK</a>
            </button>
          </span>

          <span class="card-btn-icon">
            <button class="btn-primary btn-sm border-round">
              <i class="far fa-heart"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-share-alt"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="card-overlay-content overlay-bg">
        <p class="fs-lg">Overlay Message</p>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------ -->

    <div class="card-body-md">
      <div class="card-img d-none">
        <img
          src="https://images.unsplash.com/photo-1639475377520-b256a5d204b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
          alt="blobkchain img"
          class="card-md-img"
        />
      </div>
      <div>
        <div class="card-img-heading">
          <h2 class="card-heading">Our Changing Planet</h2>
          <p class="card-sub-heading-secondary">by Blockchain</p>
        </div>

        <div class="card-content">
          <p class="card-text">
            Use five cryptocurrency on our planet that are undergoing the
            biggest changes today.
          </p>
        </div>

        <div class="d-none">
          <span class="card-btn">
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">READ</a>
            </button>
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">BOOKMARK</a>
            </button>
          </span>

          <span class="card-btn-icon">
            <button class="btn-primary btn-sm border-round">
              <i class="far fa-heart"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-share-alt"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------------- -->

    <div class="card-body-md card-badge-container">
      <div class="card-img">
        <img
          src="https://images.unsplash.com/photo-1639475377520-b256a5d204b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
          alt="blobkchain img"
          class="card-md-img"
        />
      </div>
      <div>
        <div class="card-img-heading">
          <h2 class="card-heading">Our Changing Planet</h2>
          <p class="card-sub-heading-secondary">by Blockchain</p>
        </div>

        <div class="card-content">
          <p class="card-text">
            Use five cryptocurrency on our planet that are undergoing the
            biggest changes today.
          </p>
        </div>

        <div class="d-none">
          <span class="card-btn">
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">READ</a>
            </button>
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">BOOKMARK</a>
            </button>
          </span>

          <span class="card-btn-icon">
            <button class="btn-primary btn-sm border-round">
              <i class="far fa-heart"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-share-alt"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="card-badge card-badge-primary border-squre">
        <span>badge</span>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------- -->

    <div class="card-body-md card-horizontal-md">
      <div class="card-img">
        <img
          src="https://images.unsplash.com/photo-1639475377520-b256a5d204b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
          alt="blobkchain img"
          class="card-md-img"
        />
      </div>
      <div>
        <div class="card-img-heading">
          <h2 class="card-heading">Our Changing Planet</h2>
          <p class="card-sub-heading-secondary">by Blockchain</p>
        </div>

        <div class="card-content">
          <p class="card-text">
            Use five cryptocurrency on our planet that are undergoing the
            biggest changes today.
          </p>
        </div>

        <div class="card-footer">
          <span class="card-btn">
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">READ</a>
            </button>
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">BOOKMARK</a>
            </button>
          </span>

          <span class="card-btn-icon">
            <button class="btn-primary btn-x-sm border-round">
              <i class="far fa-heart"></i>
            </button>

            <button class="btn-primary btn-x-sm border-round">
              <i class="fas fa-share-alt"></i>
            </button>

            <button class="btn-primary btn-x-sm border-round">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="card-body-md card-shadow">
      <div class="card-img">
        <img
          src="https://images.unsplash.com/photo-1639475377520-b256a5d204b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
          alt="blobkchain img"
          class="card-md-img"
        />
      </div>
      <div>
        <div class="card-img-heading">
          <h2 class="card-heading">Our Changing Planet</h2>
          <p class="card-sub-heading-secondary">by Blockchain</p>
        </div>

        <div class="card-content">
          <p class="card-text">
            Use five cryptocurrency on our planet that are undergoing the
            biggest changes today.
          </p>
        </div>

        <div class="card-footer">
          <span class="card-btn">
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">READ</a>
            </button>
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">BOOKMARK</a>
            </button>
          </span>

          <span class="card-btn-icon">
            <button class="btn-primary btn-sm border-round">
              <i class="far fa-heart"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-share-alt"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <!-- -------------------------------------------------------- -->

    <div class="card-body-md card-dismiss">
      <div class="card-img">
        <img
          src="https://images.unsplash.com/photo-1639475377520-b256a5d204b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
          alt="blobkchain img"
          class="card-md-img"
        />
      </div>
      <div>
        <div class="card-img-heading">
          <h2 class="card-heading">Our Changing Planet</h2>
          <p class="card-sub-heading-secondary">by Blockchain</p>
        </div>

        <div class="card-content">
          <p class="card-text">
            Use five cryptocurrency on our planet that are undergoing the
            biggest changes today.
          </p>
        </div>

        <div class="d-none">
          <span class="card-btn">
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">READ</a>
            </button>
            <button class="btn-link">
              <a href="#" class="btn-primary border-squre">BOOKMARK</a>
            </button>
          </span>

          <span class="card-btn-icon">
            <button class="btn-primary btn-sm border-round">
              <i class="far fa-heart"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-share-alt"></i>
            </button>

            <button class="btn-primary btn-sm border-round">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </span>
        </div>
      </div>

      <button class="card-dismiss-btn btn-primary btn-sm border-round">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </body>
</html>
