.input-text-container {
  width: auto;
  display: inline-block;
  margin: 0.5rem;
}

.full-w-input {
  width: 100%;
  padding: 0.2rem 0.1rem;
}

.input-padding{
  padding: 0.1rem 0.3rem;
}

.input-err > *{
    color: var(--danger);
}

.input-err > input {
     border: 1px solid red;
     background-color: var(--danger-bg);
}


.input-radio{
  display: inline-block;
  margin: 0 0.3rem 0 0.3rem;
} 

.input-radio-disabled {
    color: var(--secondary);
    cursor: not-allowed;
}


.input-search{
  background-color: var(--light-bg);
  display: inline-flex;
  border: 1px solid var(--dark);
}

.input-search-input{
  border: none;
  padding: 0.5rem 1rem ;
  font-size: 1rem;
  outline: none;
  width: 100%;
}



.input-search-icon{
  padding: 0.5rem 1rem;
}

.input-bg{
  background-color: var(--light-lg);
}