@import url(../docs/docs-css/docs.css);

.home-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 12rem);
  justify-content: center;
  align-content: center;
  align-items: center;
}

.home-page {
  width: 40rem;
  text-align: center;
}

.home-page-heading {
  font-size: 4rem;
  font-weight: 900;
  color: var(--light-dark);
  margin: 1rem 0rem;
}

.home-page-content {
  font-size: 1.2rem;
  color: var(--light-dark);
  line-height: 1.8rem;
}

.home-page-btns a {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
