<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="button.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- btn-type -->

    <button class="btn-primary btn-sm border-squre">Primary Button</button>
    <button class="btn-sm btn-link btn-link-primary">
      <a href="#">Link Button</a>
    </button>
    <button class="btn-sm btn-disabled btn-disabled-primary" disabled>
      Disabled
    </button>
    <button class="btn-sm btn-outline-primary">Outline buttons</button>
    <button class="btn-sm btn-ghost-primary">Ghost buttons</button>

    <!-- shape -->

    <button class="btn-sm btn-primary border-squre">Squre Buton</button>
    <button class="btn-sm btn-primary border-pill">Pill buttons</button>

    <!-- btn-size -->

    <button class="btn-x-sm btn-primary">x Small Button</button>
    <button class="btn-lg btn-primary">Large Button</button>
    <button class="btn-md btn-primary">Medium Button</button>
    <button class="btn-sm btn-primary">small size</button>

    <!-- icon-button -->

    <button class="btn-primary btn-sm border-round">
      <i class="far fa-check-circle"></i>
    </button>

    <!-- icon-with-text -->

    <button class="btn-primary btn-sm btn-icon-text-left">
      <span><i class="fas fa-bell fs-sm"></i></span> <span>Before Text</span>
    </button>
    <button class="btn-primary btn-sm btn-icon-text-right">
      <span>After Text</span><span><i class="fas fa-bell fs-sm"></i></span>
    </button>

    <!-- block-button -->
    <button class="btn-block btn-sm btn-primary">Block Button</button>

    <!-- float-btn -->

    <button class="btn-float-top-right btn-float-primary btn-sm border-round ">
      <i class="fas fa-plus"></i>
    </button>
  </body>
</html>
