.alert-demo > * {
  width: 30rem;
}

@media screen and (max-width: 1000px) {
  .alert-demo > * {
    width: 25rem;
  }
}

@media screen and (max-width: 500px) {
  .alert-demo > * {
    width: 18rem;
  }
}

@media screen and (max-width: 360px) {
  .alert-demo > * {
    width: 16rem;
  }
}
