:root {
  /* color */

  --primary: #6610f2;
  --secondary: #a2a2a2;
  --light: #ffffff;
  --dark: #161616;
  --success: #004510;
  --info: #005462;
  --warning: #826100;
  --danger: #7c0000;

  --primary-bg: #6e24e4f5;
  --secondary-bg: #9e9e9ee1;
  --danger-bg: #ff7575f5;
  --warning-bg: #ffd65cf1;
  --info-bg: #45e6ffef;
  --success-bg: #3de464f3;
  --light-bg: #e2e2e2;

  --border-boxshadow: rgba(0, 0, 0, 0.1);
  --rating-color: #ee9714f3;
  --text-gray: gray;
}
