@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

.drawer-list li,
.header-link li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

nav > ul {
  display: flex;
  gap: 2rem;
}
