
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snackbar</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="snackbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    
        <div class="snackbar snackbar-left-bottom snackbar-danger">
            <div class="snackbar-body">
                <div class="snackbar-content">
                    <p>Can't send photo. Retry in Lorem, </p>
                </div>

                <div>
                    <button class="btn-primary btn-x-sm border-squre">
                        Retry
                    </button>
                    <button class="btn btn-primary btn-x-sm border-squre">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="snackbar snackbar-centre-bottom snackbar-success">
            <div class="snackbar-body">
                <div class="snackbar-content">
                    <p>Can't send photo. Retry in Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quod dolorem suscipit inventore corrupti, facere enim reprehenderit at distinctio!</p>
                </div>
            </div>
        </div>
     
        <script>
          

        </script>

        <script src="snackbar.js"></script>
    
</body>

</html>